:root {
  --bg-color: #e5ddd6;
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  overflow-x: hidden;
  background: var(--bg-color);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Mow-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5em 0;
}

.Mow-logo {
  font-size: 2em;
  text-transform: uppercase;
  display: block;
  position: relative;
  text-align: right;
  margin-left: 1em;
  line-height: 0.8;
  letter-spacing: -0.05em;
}

@media (min-width: 960px) {
  .Mow-logo {
    font-size: 2.25em;
  }
}

.Mow-wherever {
  position: relative;
  display: block;
}

.Mow-wherever::before {
  content: "";
  border-bottom: 1px solid black;
  width: 100vw;
  height: 1px;
  position: absolute;
  top: 100%;
}

.Mow-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 2em;
  list-style: none;
  counter-reset: my-awesome-counter;
  row-gap: 2em;
}

.Mow-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-increment: my-awesome-counter;
  font-size: 0.7em;
}

@media (min-width: 960px) {
  .Mow-entry {
    font-size: 1em;
  }
}

.Mow-entry::before {
  content: counters(my-awesome-counter, ".", decimal-leading-zero) ".";
  display: inline-block;
  font-weight: bold;
  font-size: 8em;
  letter-spacing: -0.05em;
}

.Mow-entryKey {
  width: 52px;
  display: inline-block;
  font-weight: bold;
}

.Mow-entryIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  border-top: 1px solid black;
  padding-top: 2em;
}

@media (min-width: 960px) {
  .Mow-entryIntro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
}

.Mow-entryHeading {
  display: inline-block;
  padding: 0 1em;
}

.Mow-entryPic {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ff5656;
}

.Mow-entryPic::before {
  content: "?";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.Mow-entryList {
  width: 100%;
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
  list-style: none;
  padding: 0;
  background: var(--bg-color);
  padding: 1em;
  line-height: 1.4;
  border: 1px solid black;
  border-width: 1px 0;
  margin: 0;
  font-size: 0.8rem;
}

.Mow-entryTitle {
  font-size: 3em;
  text-transform: uppercase;
  line-height: 0.8;
  letter-spacing: -0.05em;
  margin: 1em 0;
  max-width: 500px;
}

.Mow-entryCopy {
  line-height: 1.4;
  letter-spacing: normal;
  font-size: 1.3rem;
  max-width: 570px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin: 1em 0;
}

.Mow-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  padding: 1em;
}
/*# sourceMappingURL=main.css.map */